<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>
<h1>Register page</h1>
<form>
        <input type="text" name="username" placeholder="username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="address" name="address" placeholder="address"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="password" name="password1" placeholder="conform password1"><br>
        <input type="submit">
    </form>
 <small>Already have account ? <a href="/login">Login</a></small>
 <h1> <a href="/">Home</a></h1>
</body>
</html>